@font-face {
  font-family: "iconfont"; /* Project id 3193367 */
  src: url('iconfont.woff2?t=1645335127901') format('woff2'),
       url('iconfont.woff?t=1645335127901') format('woff'),
       url('iconfont.ttf?t=1645335127901') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yunshuzhongwuliu-xianxing:before {
  content: "\e882";
}

.icon-yunshuzhongwuliu:before {
  content: "\e883";
}

.icon-baoguofahuo:before {
  content: "\e884";
}

.icon-baoguofahuo-xianxing:before {
  content: "\e885";
}

.icon-chaibaoguoqujian:before {
  content: "\e886";
}

.icon-chaibaoguoqujian-xianxing:before {
  content: "\e887";
}

.icon-zitigui:before {
  content: "\e888";
}

.icon-zitigui-xianxing:before {
  content: "\e889";
}

.icon-caigou-xianxing:before {
  content: "\e88a";
}

.icon-caigou:before {
  content: "\e88b";
}

.icon-shangpin:before {
  content: "\e88c";
}

.icon-shangpin-xianxing:before {
  content: "\e88d";
}

.icon-peizaizhuangche:before {
  content: "\e88e";
}

.icon-peizaizhuangche-xianxing:before {
  content: "\e88f";
}

.icon-zhiliang-xianxing:before {
  content: "\e890";
}

.icon-zhiliang:before {
  content: "\e891";
}

.icon-anquanbaozhang:before {
  content: "\e892";
}

.icon-anquanbaozhang-xianxing:before {
  content: "\e893";
}

.icon-zhuxiaoguanji:before {
  content: "\e8d8";
}

.icon-haoping-yuankuang:before {
  content: "\e8d9";
}

.icon-chaping-yuankuang:before {
  content: "\e8da";
}

.icon-PCtaishiji:before {
  content: "\e8dc";
}

.icon-jia-xianxingyuankuang:before {
  content: "\e8df";
}

.icon-jia-yuankuang:before {
  content: "\e8e0";
}

.icon-shangyiyehoutuifanhui-xianxingyuankuang:before {
  content: "\e8ef";
}

.icon-shangyiyehoutuifanhui-yuankuang:before {
  content: "\e8f0";
}

.icon-xiayiyeqianjinchakangengduo-xianxingyuankuang:before {
  content: "\e8f1";
}

.icon-xiayiyeqianjinchakangengduo-yuankuang:before {
  content: "\e8f2";
}

.icon-shangyiyehoutuifanhui:before {
  content: "\e8f3";
}

.icon-xiayiyeqianjinchakangengduo:before {
  content: "\e8f4";
}

.icon-xiangxiazhankai-xianxingyuankuang:before {
  content: "\e8f5";
}

.icon-xiangxiazhankai-yuankuang:before {
  content: "\e8f6";
}

.icon-xiangxiazhankai:before {
  content: "\e8f7";
}

.icon-xiangshangshouqi-yuankuang:before {
  content: "\e8f8";
}

.icon-xiangshangshouqi-xianxingyuankuang:before {
  content: "\e8f9";
}

.icon-biaotou-zhengxu:before {
  content: "\e8fa";
}

.icon-biaotou-kepaixu:before {
  content: "\e8fb";
}

.icon-biaotou-daoxu:before {
  content: "\e8fc";
}

.icon-weizhi-xianxing:before {
  content: "\e8fe";
}

.icon-weizhi:before {
  content: "\e8ff";
}

