body{
    display: flex;
    background-color: #EFEDD6;
    justify-content: center;
    overflow-x: hidden;
}
.wrapper .title{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.wrapper .content{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4682B4;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    box-shadow: 3px 5px 5px rgba(128,128,128,.8);
}

.wrapper .content:nth-child(even){
    transform: translateX(-70vw);
    transition: all 0.5s;
}

.wrapper .content:nth-child(odd){
    transform: translateX(70vw);
    transition: all 0.5s;
}